img.cover { max-width: 100%; display: block; alignment: right }
div#coverContainer { width: 300px; }
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}