{% set title='Library' %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class=" justify-content-center">
<div class="col-12">
{% if games|length == 0 %}
<h3>Your library is empty</h3><br>
Check our games at the <a href="{{ url_for('store') }}">store</a>
{% else %}
<table class="table">
<thead>
<tr>
    <th>
        Game
    </th>
    <th>
        Developer
    </th>
    <th>
        Rating
    </th>
</tr>
</thead>
    {% for game in games %}
        <tr>
        <td>
            {% if game.small %}
                <img src="{{ game.small }}" width="20" height="20"/>
            {% endif %}
            <a href="{{ url_for('game', id=game.id) }}">{{ game.title }}</a>
        </td>
        <td>

            {{ game.developer.login }}
        </td>
        <td>
            {{ (game.scores|sum(attribute='value') / game.scores|length) if game.scores|length != 0 else 0.0 }}
        </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
</div>
</div>
</div>
{% endblock %}