{% set title='Store' %}
{% extends 'base.html' %}

{% block content %}

<div class="container">
<div class=" justify-content-center">
<div class="col-12">
<div class="inline">
    <input class="form-control mr-sm-2" type="search" id="myInput" placeholder="Фильтр" aria-label="Search">
</div>
<table class="table">
<thead>
<tr>
    <th>
        Game
    </th>
    <th>
        Developer
    </th>
    <th>
        Rating
    </th>
    <th>
        Price
    </th>
</tr>
</thead>
<tbody id="myTable">
    {% for game in games %}
        <tr>
        <td>
            {% if game.small %}
                <img src="{{ game.small }}" width="20" height="20"/>
            {% endif %}
            <a href="{{ url_for('game', id=game.id) }}">{{ game.title }}</a>
        </td>
        <td>

            {{ game.developer.login }}
        </td>
        <td>
            {{ (game.scores|sum(attribute='value') / game.scores|length) if game.scores|length != 0 else 0.0 }}
        </td>
        <td>
            {{ game.price }}
        </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}